{#
 # @package    OSCampus
 # @contact    www.ostraining.com, support@ostraining.com
 # @copyright  2015 Open Source Training, LLC. All rights reserved
 # @license
 #}

{% extends 'admin_form.html.twig' %}

{% set main_legend = 'COM_OSCAMPUS_PAGE_VIEW_LESSON_' ~ (item.id ? 'EDIT' : 'ADD')|lang %}

{% block form_header %}
    {{ html('osc.render.formfield', form.getField('title'))|raw }}
    {{ html('osc.render.formfield', form.getField('alias'))|raw }}
{% endblock %}

{% block form_body %}
    {{ form_macro.tabs_startset(form, {'active' : 'main-panel', 'useCookie' : 1}) }}

    {{ form_macro.tabs_add(form, 'main') }}
    {{ form_macro.render_fieldset(form, 'main') }}
    {{ form_macro.tabs_end() }}

    {{ form_macro.tabs_add(form, 'header', 'COM_OSCAMPUS_LESSON_TAB_HEADER_LABEL'|lang) }}
    {{ form_macro.render_field(form, 'header', false) }}
    {{ form_macro.tabs_end() }}

    {{ form_macro.tabs_add(form, 'content', 'COM_OSCAMPUS_LESSON_TAB_CONTENT_LABEL'|lang) }}
    <p>Under Construction - this is the hard part</p>
    {{ form_macro.tabs_end() }}

    {{ form_macro.tabs_add(form, 'footer', 'COM_OSCAMPUS_LESSON_TAB_FOOTER_LABEL'|lang) }}
    {{ form_macro.render_field(form, 'footer', false) }}
    {{ form_macro.tabs_end() }}

    {{ form_macro.tabs_end() }}
{% endblock %}
