{#
 # @package    OSCampus
 # @contact    www.ostraining.com, support@ostraining.com
 # @copyright  2015 Open Source Training, LLC. All rights reserved
 # @license
 #}

{% macro th_checkall() %}
    <th width="1%">
        {{ html('osc.grid.checkall')|raw }}
    </th>
{% endmacro %}

{% macro th_published(field, list_dir, list_order) %}
    <th width="1%" style="min-width:55px" class="nowrap center">
        {{ html('osc.grid.sort', 'COM_OSCAMPUS_PUBLISHED', field, list_dir, list_order)|raw }}
    </th>
{% endmacro %}

{% macro th_sort(order_field, title, list_dir, list_order, width = '') %}
    <th class="nowrap"{{ width ? ' width="{{ width }}"' : '' }}>
        {{ html('osc.grid.sort', title, order_field, list_dir, list_order)|raw }}
    </th>
{% endmacro %}

{% macro th_text(text, width = '') %}
    <th class="nowrap"{{ width ? ' width="{{ width }}"' : '' }}>
        {{ text|lang }}
    </th>
{% endmacro %}

{% macro td_check(index, id) %}
    <td class="center hidden-phone">
        {{ html('grid.id', index, id)|raw }}
    </td>
{% endmacro %}

{% macro td_published(published, index, prefix) %}
    <td width="1%" class="nowrap center">
        <div class="btn-group">
            {{ html('jgrid.published', published, index, prefix)|raw }}
        </div>
    </td>
{% endmacro %}

{% macro td_edit_link(row, index, controller, prefix = '', title = '', alias = '', details = '', details_title = '') %}
    {% set link = 'index.php?option=com_oscampus&task=' ~ controller ~ '.edit&id=' ~ row.id %}

    <td class="has-context">
        <div class="pull-left break-word">
            {% if row.checked_out and prefix %}
                {{ html('jgrid.checkedout', index, row.editor, row.checked_out_time, prefix, true)|raw }}
            {% endif %}

            <a href="{{ link }}">
                {{ title ?: row.title }}
            </a>

            {% if alias or row.alias %}
                <span class="small break-word">
                    ({{ 'COM_OSCAMPUS_ALIAS'|lang }}: {{ alias ?: row.alias }})
                </span>
            {% endif %}

            {% if details %}
                <div class="small">
                    {{ details_title|lang }}: {{ details }}
                </div>
            {% endif %}
        </div>
    </td>
{% endmacro %}

{% macro td_text(text, class = '') %}
    <td class="{{ class }}">
        {{ text }}
    </td>
{% endmacro %}
