{#
 # @package    OSCampus
 # @contact    www.ostraining.com, support@ostraining.com
 # @copyright  2015 Open Source Training, LLC. All rights reserved
 # @license
 #}

{{ html('stylesheet', 'com_oscampus/admin.css', null, true) }}
{{ html('osc.behavior.tooltip') }}
{{ html('osc.behavior.keepalive') }}
{{ html('osc.behavior.multiselect') }}
{{ html('osc.formbehavior.chosen', 'select') }}


{% if show_sidebar %}
    <div id="j-sidebar-container" class="span2">
        {{ html('osc.render.submenu')|raw }}
    </div>
    {% set class = ' class="span10"' %}
{% endif %}
<div id="j-main-container"{{ class }}>
    {% block main_content %}{% endblock  %}
</div>
