{#
 # @package    OSCampus
 # @contact    www.ostraining.com, support@ostraining.com
 # @copyright  2015 Open Source Training, LLC. All rights reserved
 # @license
 #}

{% macro th_checkall() %}
    <th width="1%">
        {{ html('grid.checkall')|raw }}
    </th>
{% endmacro %}

{% macro th_published(field, list_dir, list_order) %}
    <th width="1%" style="min-width:55px" class="nowrap center">
        {{ html('grid.sort', 'COM_OSCAMPUS_PUBLISHED', field, list_dir, list_order)|raw }}
    </th>
{% endmacro %}

{% macro th_sort(order_field, title, list_dir, list_order, width = '') %}
    <th class="nowrap" {% if width %}width="{{ width }}"{% endif %}>
        {{ html('grid.sort', title, order_field, list_dir, list_order)|raw }}
    </th>
{% endmacro %}

{% macro td_check(index, row, identifier = 'id') %}
    <td class="center hidden-phone">
        {{ html('grid.checkedout', row, index, identifier)|raw }}
    </td>
{% endmacro %}

{% macro td_published(published, index, prefix) %}
    <td class="center">
        <div class="btn-group">
            {{ html('grid.published', published, index, prefix)|raw }}
        </div>
    </td>
{% endmacro %}

{% macro td_link(title, link, alias = '') %}
    <td class="has-context">
        <div class="pull-left break-word">
            <a href="{{ link }}">
                {{ title }}
            </a>

            {% if alias %}
                <span class="small break-word">
                    ({{ 'COM_OSCAMPUS_ALIAS'|lang }}: {{ alias }})
                </span>
            {% endif %}
        </div>
    </td>
{% endmacro %}

{% macro td_edit_link(controller, title, id, alias = '') %}
    {% import _self as list %}

    {% set edit_link = 'index.php?option=com_oscampus&task=' ~ controller ~ '.edit&id=' ~ id %}

    {{ list.td_link(title, edit_link, alias) }}
{% endmacro %}

{% macro td_text(text, class = '') %}
    <td class="{{ class }}">
        {{ text }}
    </td>
{% endmacro %}
