{#
 # @package    OSCampus
 # @contact    www.ostraining.com, support@ostraining.com
 # @copyright  2015 Open Source Training, LLC. All rights reserved
 # @license
 #}

{% extends 'admin_base.html.twig' %}

{% import 'admin_form_macros.html.twig' as form_macro %}

{% block main_content %}
    {{ html('osc.behavior.formvalidation') }}

    {% block scripts %}
        <script type="text/javascript">
            Joomla.submitbutton = function(task) {
                if (task.match(/\.cancel$/) || document.formvalidator.isValid(document.id('item-form'))) {
                    Joomla.submitform(task, document.getElementById('item-form'));
                }
            }
        </script>
    {% endblock %}

    <form
            action="{{ uri }}"
            method="post"
            name="adminForm"
            id="item-form"
            class="form-validate">

        {% block form_top %}{% endblock %}

        {% block form_body %}
            {{ html('osc.render.adminfields', form, 'main', main_legend)|raw }}
        {% endblock %}

        {% block form_bottom %}{% endblock %}

        {{ html('osc.render.hiddenfields', form)|raw }}
        <input type="hidden" name="task" value=""/>
        <input type="hidden" name="return" value="{{ input.getCmd('return') }}"/>
        {{ html('form.token')|raw }}
    </form>
{% endblock %}
