{#
 # @package    OSCampus
 # @contact    www.joomlashack.com, help@joomlashack.com
 # @copyright  2015-2016 Open Source Training, LLC. All rights reserved
 # @license
 #}

{% macro th_checkall() %}
    <th width="1%">
        {{ html('osc.grid.checkall')|raw }}
    </th>
{% endmacro %}

{% macro th_ordering(ordering, items) %}
    <th width="1%" class="nowrap center hidden-phone">
        {{ html('searchtools.sort', '', ordering.field, ordering.direction, ordering.order, null, 'asc', 'JGRID_HEADING_ORDERING', 'icon-menu-2')|raw }}
    </th>
{% endmacro %}

{% macro th_published(field, direction, order) %}
    <th width="1%" style="min-width:55px" class="nowrap center">
        {{ html('searchtools.sort', 'COM_OSCAMPUS_PUBLISHED', field, direction, order)|raw }}
    </th>
{% endmacro %}

{% macro th_sort(field_name, title, direction, order, width = '') %}
    <th class="nowrap"{{ width ? ' width="{{ width }}"' : '' }}>
        {{ html('searchtools.sort', title, field_name, direction, order)|raw }}
    </th>
{% endmacro %}

{% macro th_text(text, width = '') %}
    <th class="nowrap"{{ width ? ' width="{{ width }}"' : '' }}>
        {{ text|lang }}
    </th>
{% endmacro %}

{% macro td_ordering(index, order_value, ordering) %}
    <td class="order nowrap center hidden-phone">
        {% set tt_text = html('tooltipText', 'JORDERINGDISABLED') %}
        {% set iconClass = 'sortable-handler' ~ (ordering.enabled ? '' : ' inactive tip-top hasTooltip" title="{{ tt_text }}"') %}
        <span class="{{ iconClass }}">
                <span class="icon-menu"></span>
            </span>
        {% if ordering.enabled %}
            <input
                    type="text"
                    style="display:none"
                    name="order[]"
                    size="5"
                    value="{{ order_value }}"
                   class="width-20 text-area-order "/>
        {% endif %}

    </td>
{% endmacro %}

{% macro td_check(index, id) %}
    <td class="center hidden-phone">
        {{ html('grid.id', index, id)|raw }}
    </td>
{% endmacro %}

{% macro td_published(published, index, prefix, enabled = true) %}
    <td width="1%" class="nowrap center">
        <div class="btn-group">
            {{ html('jgrid.published', published, index, prefix, enabled)|raw }}
        </div>
    </td>
{% endmacro %}

{% macro td_edit_link(row, index, controller, prefix = '', title = '', alias = '', details = '', details_title = '') %}
    {% set link = 'index.php?option=com_oscampus&task=' ~ controller ~ '.edit&id=' ~ row.id %}

    <td class="has-context">
        <div class="pull-left break-word">
            {% if row.checked_out and prefix %}
                {{ html('jgrid.checkedout', index, row.editor, row.checked_out_time, prefix, true)|raw }}
            {% endif %}

            <a href="{{ link }}">
                {{ title ?: row.title }}
            </a>

            {% if alias or row.alias %}
                <br/>
                <span class="small break-word">
                    ({{ 'COM_OSCAMPUS_ALIAS'|lang }}: {{ alias ?: row.alias }})
                </span>
            {% endif %}

            {% if details %}
                <div class="small">
                    {{ details_title|lang }}: {{ details }}
                </div>
            {% endif %}
        </div>
    </td>
{% endmacro %}

{% macro td_text(text, class = '') %}
    <td class="{{ class }}">
        {{ text|lang }}
    </td>
{% endmacro %}
