{#
 # @package    OSCampus
 # @contact    www.ostraining.com, support@ostraining.com
 # @copyright  2015 Open Source Training, LLC. All rights reserved
 # @license
 #}

{% extends 'admin_base.html.twig' %}

{% import 'admin_list_macros.html.twig' as list_macro %}

{% block page_setup %}
    {{ parent() }}
    {{ html('behavior.multiselect') }}
{% endblock %}

{% block main_content %}
    <form
            action="{{ uri }}"
            method="post"
            name="adminForm"
            id="adminForm">

        {% block filter_tools %}
            {{ list_macro.filter_tools(filters) }}
        {% endblock %}

        {% if not items %}
            <div class="alert alert-no-items">
                {{ 'COM_OSCAMPUS_NO_MATCHING_RESULTS'|lang }}
            </div>
        {% else %}
            <table class="table table-striped adminlist">
                <thead>
                {% block list_head_upper %}{% endblock %}
                <tr>
                    {% block list_head %}
                        <th></th>
                    {% endblock %}
                </tr>
                </thead>

                <tbody>
                {% for item in items %}
                    <tr class="row{{ loop.index0 % 2 }}">
                        {% block list_item %}
                            <td></td>
                        {% endblock %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {% if pagination %}
                {{ pagination|raw }}
            {% endif %}
        {% endif %}

        {% block list_hidden %}
            <input type="hidden" name="task" value="{{ task }}"/>
            <input type="hidden" name="boxchecked" value="0"/>
            <input type="hidden" name="filter_order" value="{{ list_order }}"/>
            <input type="hidden" name="filter_order_Dir" value="{{ list_dir }}"/>
            {{ html('form.token')|raw }}
        {% endblock %}
    </form>
{% endblock %}
