{#
 # @package    OSCampus
 # @contact    www.ostraining.com, support@ostraining.com
 # @copyright  2015 Open Source Training, LLC. All rights reserved
 # @license
 #}
<script>
    window.addEvent('domready', function() {
        $('clear_form').addEvent('click', function(e) {
            this.form.filter_search.value = '';
            this.form.submit();
        });

        $$('*[name^=filter_]').addEvent('change', function(e) {
            this.form.submit();
        });
    });
</script>
<fieldset id="filter-bar">
    <div class="filter-search fltlft">
        <label
                class="filter-search-lbl hasTip"
                title="{{ 'COM_OSCAMPUS_SEARCH_TEXT_LABEL'|lang }}:{{ (filters.text.description ?: 'COM_OSCAMPUS_SEARCH_TEXT_DESC')|lang }}"
                for="filter_search">
            {{ 'COM_OSCAMPUS_SEARCH_TEXT_LABEL'|lang }}
        </label>

        {% if filters.text %}
            <input
                    type="text"
                    name="filter_search"
                    id="filter_search"
                    value="{{ filters.text.value|escape }}"/>

            <button type="submit" class="btn">
                {{ 'JSEARCH_FILTER_SUBMIT'|lang }}
            </button>
            <button type="button" id="clear_form">
                {{ 'JSEARCH_FILTER_CLEAR'|lang }}
            </button>
        {% endif %}

        {% if filters.items %}
            <div class="filter-select fltrt">
                {% for row in filters.items %}
                    {% for item in row %}
                        {{ item }}
                    {% endfor %}
                    <br/>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</fieldset>
<div class="clr"></div>
