{#
 # @package    OSCampus
 # @contact    www.joomlashack.com, help@joomlashack.com
 # @copyright  2015-2016 Open Source Training, LLC. All rights reserved
 # @license
 #}

{% extends 'admin_base.html.twig' %}

{% import 'admin_form_macros.html.twig' as form_macro %}

{% block page_setup %}
    {{ parent() }}
    {{ html('behavior.keepalive') }}
    {{ html('behavior.formvalidator') }}
{% endblock %}

{% block main_content %}
    {% block scripts %}
        <script type="text/javascript">
            Joomla.submitbutton = function(task) {
                if (task.match(/\.cancel$/) || document.formvalidator.isValid(document.getElementById('item-form'))) {
                    Joomla.submitform(task, document.getElementById('item-form'));
                }
            }
        </script>
    {% endblock %}

    <form
            action="{{ uri }}"
            method="post"
            name="adminForm"
            id="item-form"
            class="form-validate"
            enctype="multipart/form-data">

        {% set heading = block('form_header') %}
        {% if heading is not empty %}
            <div class="form-inline form-inline-header">
                {{ heading|raw }}
            </div>
        {% endif %}

        <div class="form-horizontal">
            {% block form_body %}
                {{ html('osc.render.adminfieldset', form, 'main', main_legend)|raw }}
            {% endblock %}
        </div>

        {% set footer = block('form_bottom') %}
        {% if footer is not empty %}
            <div class="form-inline">
                {% block form_bottom %}{% endblock %}
            </div>
        {% endif %}

        {{ html('osc.render.hiddenfields', form)|raw }}
        <input type="hidden" name="task" value=""/>
        <input type="hidden" name="return" value="{{ input.getCmd('return') }}"/>
        {{ html('form.token')|raw }}
    </form>
{% endblock %}
