{#
 # @package    OSCampus
 # @contact    www.ostraining.com, support@ostraining.com
 # @copyright  2015-2016 Open Source Training, LLC. All rights reserved
 # @license
 #}

{% extends "admin_form.html.twig" %}

{% macro lessons_link(course_id, text) %}
    {% set link = linkto({'view' : 'lessons', 'clear' : true, 'filter_course' : course_id, 'filter_order' : 'lesson.ordering'}) %}
    {{ html('link', link, text|lang, 'target="_blank"')|raw }}
{% endmacro %}
{% import _self as macro %}

{% block form_header %}
    {{ html('osc.render.formfield', form.getField('title'))|raw }}
    {{ html('osc.render.formfield', form.getField('alias'))|raw }}
{% endblock %}

{% block form_body %}
    {{ form_macro.tabs_startset(form, {'active' : 'main-panel', 'useCookie' : 1}) }}

    {{ form_macro.tabs_add(form, 'main') }}
    {{ form_macro.render_fieldset(form, 'main', true, '4') }}
    {{ form_macro.render_field(form, 'pathways', true, '3') }}
    {{ form_macro.render_field(form, 'tags', true, '2') }}
    {{ form_macro.tabs_end() }}

    {{ form_macro.tabs_add(form, 'descriptions') }}
    {{ form_macro.render_field(form, 'introtext', true) }}
    {{ form_macro.render_field(form, 'description', true) }}
    {{ form_macro.tabs_end() }}

    {{ form_macro.tabs_add(form, 'lessons', 'COM_OSCAMPUS_COURSE_TAB_LESSONS_LABEL'|lang) }}
    {% set link =  macro.lessons_link(item.id, 'COM_OSCAMPUS_COURSE_TAB_LESSONS_LABEL') %}
    <p>{{ 'COM_OSCAMPUS_COURSE_LESSON_TAB'|sprintf(link)|raw }}</p>

    {{ form_macro.render_field(form, 'lessons', true) }}
    <button type="button" class="reset-lesson-order">{{ 'COM_OSCAMPUS_COURSE_LESSONS_ORDER_RESET'|lang }}</button>
    {{ form_macro.tabs_end() }}

    {{ form_macro.tabs_add(form, 'metadata') }}
    {{ html('osc.render.adminfieldset', form, 'metadata', true)|raw }}
    {{ form_macro.tabs_end() }}

    {{ form_macro.tabs_endset() }}
{% endblock %}
